version: '3'
services:
  data_builder:
    image: trufi-pbf-extractor
    container_name: trufi-pbf-extractor
    build: .
    env_file:
      - .env
    environment:
      - CITY_NAME=${CITY_NAME}
      - BBOX=${BBOX}
      - GEOFABRIK_URL_PATH=${GEOFABRIK_URL_PATH}
    volumes:
      - ./data:/app/out
